resource/

# kernel build artifacts
*.o
*.ko
*.mod*
*.cmd
Module.symvers
modules.order
*.order
*.mod.c

# kernel build directories
*.tmp_versions/
*.dwo
*.dtbo
*.su
*.o.d
.module-common.o
rootfs/
initramfs.cpio.gz
resource/busybox/
resource/linux/
